<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <title>Consultio-Consultious</title>
    <link href="css/business-frontpage.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  </head>
  <body>

    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-center">Consultio-Consultious</h1>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h2>Want to make some dough?..</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
          <p>
            <a class="btn btn-success btn-lg" href="#">Discover success! &raquo;</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h2>Try Contact Us</h2>
          <address>
            <strong>Towers Pseudo</strong>
            <br>13 Iznop Street
            <br>Camana Bay, 26748
            <br>Cayman Islands
          </address>
          <br>
          <address>
            <abbr title="Phone">P:</abbr>
            (+1) 949 7000
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:#">Sam@Consultio.io</a>
          </address>
        </div>
      </div>

      <div class="row">
        <% @categories.each do |category| %>
          <div class="col-sm-4 my-4">
            <div class="card">
              <div class="card-body">
                <%= link_to category_path(category) do %>
                  <%= image_tag "http://placehold.it/300x200" %>
                <% end %>
                <ul>
                  <li><h4 class="card-title">
                  <%=category.investment_type%></h4>
                    <ul class="dropdown">
                      <li>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center"> &copy; Consultio-Consultious 2018</p>
      </div>
    </footer>

  </body>
</html>
