<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <title>Consultio-Consultious</title>
    <link href="css/business-frontpage.css" rel="stylesheet">
  </head>
  <body>

    <nav>
      <div class="container">
        <ul class="navbar-nav">     <!--what is this class doing?? -->
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
        <div>
          <% if @current_user.present? %>
          <a href="/users/<%= @current_user.id %>/edit"><%= @current_user.name %></a>
          <% else %>
          <a href="/login">Login</a>
          <% end %>
        </div>
      </div>
    </nav>

    <header class="business-header"> <!--what is this class doing?? -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-center">Consultio-Consultious</h1>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4">Want to make some dough?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h2 class="mt-4">Try Contact Us</h2>
          <address>
            <strong>Towers Pseudo</strong>
            <br>13 Iznop Street
            <br>Camana Bay, 26748
            <br>Cayman Islands
          </address>
          <address>
            <abbr title="Phone">P:</abbr>
            (+1) 949 7000
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:#">Sam@Consultio.io</a>
          </address>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <h4 class="card-title">Low Risk</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <h4 class="card-title">Medium Risk</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <h4 class="card-title">High Risk</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center"> &copy; Consultio-Consultious 2018</p>
      </div>
    </footer>

  </body>
</html>
