@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 54px;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.business-header {
  height: 150px;
  background: url('http://placehold.it/1920x200')center;
  background-size: cover;
}

.card {
  height: 100%;
}
