@import "bootstrap-sprockets";
@import "bootstrap";


body {
  border: 54px;
  font-family: 'Montserrat', sans-serif;  font-size: 18px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.navbar-overlay {
  z-index: 100;
}

.business-header {
  height: 707px;
  background: url("https://i.lensdump.com/i/X4I13.png")center;
  background-size: cover;
  z-index: -100;
}

















.card {
  height: 100%;
}

ul li ul.dropdown{
    min-width: 100%;
    background: #f2f2f2;
    visibility:hidden;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block;
    visibility:visible;
}

ul {
    list-style-type: none;
}

.glyphicon {
  padding: 10px;
}

#collapse {
  text-decoration: none;
}
